version: '3'
services:
  dremio:
     image: dalongrong/dremio:20.1.0-jprofiler13
     build: ./
     privileged: true
     cap_add:
       - ALL
     ports:
     - "9047:9047"
     - "8849:8849"
     - "31010:31010"
  s3:
    image: minio/minio
    environment:
      - "MINIO_ACCESS_KEY=minio"
      - "MINIO_SECRET_KEY=minio123"
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"